<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bing.tpa.mapper.TpaTeachDesignMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.bing.tpa.domain.entity.TpaTeachDesign">
        <id column="td_id" property="tdId" />
        <result column="design_name" property="designName" />
        <result column="design_title" property="designTitle" />
        <result column="secondary_title" property="secondaryTitle" />
        <result column="subject" property="subject" />
        <result column="author_id" property="authorId" />
        <result column="is_open" property="isOpen" />
        <result column="content" property="content" />
        <result column="create_time" property="createTime" />
        <result column="class_time" property="classTime" />
        <result column="target" property="target" />
    </resultMap>
    <select id="selectByTitle" resultType="com.bing.tpa.domain.entity.TpaTeachDesign">
        select t.*,u.name as authorName
        from tpa_teach_design t
        left join tpa_teacher u on u.uid=t.author_id
        where (t.design_title= #{title})
        or (t.secondary_title= #{title})
    </select>
    <select id="selectByAuthorId" resultType="com.bing.tpa.domain.entity.TpaTeachDesign">
        select *
        from tpa_teach_design
        where author_id= #{uid}
    </select>

</mapper>
